.blog-post{
	/*border-bottom: 1px solid #ebf2f6;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px rgba(63,63,68,.1), 0 1px 2px rgba(0,0,0,.05);
    padding: .75rem 1.75rem;
    background: #fff;
    max-width: 100%;*/
}